.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul{
  display:flex;
  list-style-type: none;
  width:1350px;
  justify-content: space-between;
  height:70px;
  align-items: center;
}

#searchbar{
  padding:15px;
  border-radius: 50px;
}
.container{
  display:flex;
  flex-direction: column;
  height:500px;
  width:1500 px;
  justify-content:space-between;
  align-items: center;
}
.buttons{
  display:flex;
  width:300px;
  justify-content: space-between;
}
button:hover{
  cursor:pointer;
}
.mycontainer{
  display:flex;
  height:80px;
  align-items: center;
}
.parent{
  display:flex;
  flex-direction: column;
  height:1000px;
  width:1525px;

}
.darkbutton{
  height:50px;

}
.alert{
  display: flex;
  justify-content: center;
}
.about{
  display:flex;
  flex-direction: column;
  height:500px;
  justify-content: space-around;
  align-items: center;
  
}
.content{
  width:500px;
  height:300px;
 
}
link{
  text-decoration: none;
}
.rectification{
  height:50px;
}